.python{
    height: 320px;
    width: 100vw;
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 5px;
}
.python3{
    height: 320px;
    width: 100vw;
    border: 1px solid black;
    border-radius: 15px;
}