@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
#deg{
    font-family: 'Tangerine','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 500px;
    margin-top: 30px;
}

/* .cover{
    position: absolute;
    margin-top: -500px;
}
.svg{
    position: relative;
    rotate: 90deg;
    margin-left: -870px;
}
#nooo{
   margin-left: 600px;
} */
#sss{
    margin-left: 510px;
    margin-top: 30px;
}
